a{
	color:#000;
}
ul.navigation{
	margin:0;
	background:red;
	overflow:hidden;
}
ul.navigation li{
	display:inline;
	float:left;
	background:yellow;
	border:2px solid #000;
}
ul.navigation li a{
	display:block;
	width:200px;
	padding:5px 20px;
}
ul.navigation li ul{
	margin:0;
	padding:0;
}
ul.navigation li ul li{
	float:none;
	display:block;
	background:green;
}